@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!-- BEGIN LOGIN FORM -->


@using (Ajax.BeginForm("CheckLoginAuthentication", "Login", new AjaxOptions { OnBegin = "return fnLoginValidation();", OnSuccess = "SuccessLogin(data);", HttpMethod = "POST" }, new { id = "frmLogin" }))
{

    <h3 class="form-title">Reset Password</h3>
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        <span>Enter valid username and password. </span>
    </div>
    <div class="alert alert-success display-hide">
        <strong>Logged In Successfully..</strong>
    </div>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        <div class="input-icon">
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password*" name="password" value="abc@223133" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Confirm Password</label>
        <div class="input-icon">
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Confirm Password*" name="confirmpassword" value="abc@223133" />
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn green pull-right">Submit</button>
    </div>
     
}


<script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>

<script>

    function fnLoginValidation() {
        // validation
        App.startPageLoading({ animate: true });

    }
    function SuccessLogin(data) {
        if (data.trim() == "success") {
            $(".alert-danger").hide();
            $(".alert-success").show();

            window.setTimeout(function () {
                App.stopPageLoading();
            }, 2000);

            window.location.href = '@Url.Action("Index", "Dashboard")';
        }
        else if (data.trim() == "fail") {
            $(".alert-danger").show();
            $(".alert-success").hide();
            window.setTimeout(function () {
                App.stopPageLoading();
            }, 2000);
        }

    }

    function fnForgetPasswordValidation() {
        alert("fnForgetPasswordValidation");
    }
    function SuccessForgetPassword() {
        alert("SuccessForgetPassword");
    }

    $(function () {
        // Setup form validation on Login form
        $("#frmLogin").validate({
            // Specify the validation rules
            rules: {
                username: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 5
                }
            },

            // Specify the validation error messages
            messages: {
                password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long"
                },
                email: "Please enter a valid email address"
            },

            success: function (label) {
                //alert("label = " + label);
            },
        });

        // Setup form validation on Forget Password form
        $("#frmForgetPassword").validate({
            // Specify the validation rules
            rules: {
                email: {
                    required: true,
                    email: true
                }
            },

            // Specify the validation error messages
            messages: {
                email: "Please enter a valid email address"
            },

            success: function (label) {
                //alert("label = " + label);
            },
        });



    });

</script>