
<style>
    .form_error {
        color:#b30610;
    }
    .error{
        border:1px solid #b30610;
    }
</style>

@using (Ajax.BeginForm("ChangePassword", "Login", new AjaxOptions { OnBegin = "return fnChangePasswordValidation();", OnSuccess = "SuccessChangePassword(data);", HttpMethod = "POST" }, new { id = "frmChangePassword" }))
{
    <div class="form-group">
        <label class="control-label">Current Password*</label>
        <input class="form-control" type="password" placeholder="Current password" id="txtCurrentPassword" name="txtCurrentPassword">
        <span id="error_currentpassword" class="display-hide form_error"></span>
    </div>
    <div class="form-group">
        <label class="control-label">New Password*</label>
        <input class="form-control" type="password" placeholder="New Password" id="txtNewPassword" name="txtNewPassword">
        <span id="error_newpassword" class="display-hide form_error"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Confirm New Password*</label>
        <input class="form-control" type="password" placeholder="Confirm New Password" id="txtConfirmPassword" name="txtConfirmPassword">
        <span id="error_confirmpassword" class="display-hide form_error"></span>
    </div>
    <div class="form-actions">
        <input type="submit" id="btnChangePassword" class="btn blue-border uppercase pull-left" value="Change Password">
        <a href="javascript:void(0);" id="btnCancelChangePassword"  class="black-border pull-left">CANCEL</a>
    </div>
    
     <div class="form-group" id="chngsuccess" style="display:none;">
            <div class="alert alert-success" style="background-color: #fdfdfd; border-color: #fdfdfd;display: inline-block;padding: 5px;">
                <strong>Save successfully !</strong>
            </div>
        </div>
    
     <div class="form-group" id="chngerror" style="display:none;">
            <div class="alert alert-danger" style="background-color: #fdfdfd; border-color: #fdfdfd;display: inline-block;padding: 5px;color: #b30610;">
                <strong>Something Wrong !</strong>
            </div>
        </div>
    
}

<script>
    function clearalltext() {
        
        $("#error_currentpassword").text("");
        $("#error_newpassword").text("");
        $("#error_confirmpassword").text("");
    }
    $(document).on("focus", "#txtCurrentPassword", function () { clearalltext(); });
    $(document).on("focus", "#txtNewPassword", function () { clearalltext(); });
    $(document).on("focus", "#txtConfirmPassword", function () { clearalltext(); });
    function hasWhiteSpace(s) {
        return /\s/g.test(s);
    }

    function fnChangePasswordValidation() {

        var CurrentPassword = $("#txtCurrentPassword").val().trim();
        var NewPassword = $("#txtNewPassword").val().trim();
        var ConfirmPassword = $("#txtConfirmPassword").val().trim();

        var error_flag = true;

        if (CurrentPassword != "" && CurrentPassword != null) {
            $("#txtCurrentPassword").removeClass("error1");
        } else {
            error_flag = false;
            $("#txtCurrentPassword").addClass("error1");
        }

        if (NewPassword != "" && NewPassword != null) {

            //if (NewPassword.length < 6 || NewPassword.length > 12) {
            //    error_flag = false;
            //    $("#txtNewPassword").addClass("error1");
            //    $("#error_newpassword").text("Password must between 6 to 12 character").show();
            //}
            //else {
            //    $("#error_newpassword").hide();
            //    $("#txtNewPassword").removeClass("error1");
            //}

            var decimal = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{6,12}$/;


            if ($("#txtNewPassword").val().length <= 8) {
                $("#txtNewPassword").addClass("error1");
                $("#error_newpassword").text('Password must be contains at least 6 characters long,a lowercase letter,an uppercase letter and a number or special character!').show();

                return false;
            }
            var strspace = hasWhiteSpace($("#txtNewPassword").val());
            if (strspace) {
                $("#txtNewPassword").addClass("error1");
                $("#error_newpassword").text('Password must not contains blank space!').show();

                return false;
            }

            var regex = /^(?=.*[a-z]).+$/;

            if (!regex.test($("#txtNewPassword").val().trim())) {
                $("#txtNewPassword").addClass("error1");
                $("#error_newpassword").text('Password must be contains at least 6 characters long,a lowercase letter,an uppercase letter and a number or special character!').show();

                return false;
            }
            var regex = /^(?=.*[A-Z]).+$/;

            if (!regex.test($("#txtNewPassword").val().trim())) {
                $("#txtNewPassword").addClass("error1");
                $("#error_newpassword").text('Password must be contains at least 6 characters long,a lowercase letter,an uppercase letter and a number or special character!').show();

                return false;
            }

            var regex = /^(?=.*[0-9_\W]).+$/;

            if (!regex.test($("#txtNewPassword").val().trim())) {
                $("#txtNewPassword").addClass("error1");
                $("#error_newpassword").text('Password must be contains at least 6 characters long,a lowercase letter,an uppercase letter and a number or special character!').show();


                return false;


            }

        } else {
            error_flag = false;
            $("#error_newpassword").hide();
            $("#txtNewPassword").addClass("error1");
        }

        if (ConfirmPassword != "" && ConfirmPassword != null) {
            $("#txtConfirmPassword").removeClass("error1");
        } else {
            error_flag = false;
            $("#txtConfirmPassword").addClass("error1");
        }
        if (error_flag == true) {
            if (NewPassword != "" && ConfirmPassword != "") {
                if (NewPassword != ConfirmPassword) {
                    error_flag = false;
                    $("#txtNewPassword").addClass("error1");
                    $("#txtConfirmPassword").addClass("error1");
                    $("#error_confirmpassword").text("Password and Confirm Password must be same").show();
                }
                else {
                    $("#error_confirmpassword").hide();
                    $("#txtNewPassword").removeClass("error1");
                    $("#txtConfirmPassword").removeClass("error1");
                }
            }
        }
         
        if (error_flag == true) {
            $("#dv_loaderimg").show();
        }

        return error_flag;
    }
    function SuccessChangePassword(data) {
        
        if (data.trim() == "currentpasswordnotmatched") {
            $("#txtCurrentPassword").addClass("error1");
            $("#error_currentpassword").text("Current Password does not match").show();
            $("#dv_loaderimg").hide();
            $("#txtCurrentPassword").focus();
            return false;
        }
        else if (data.trim() == "passwordchanged")
        {
            $("#dv_loaderimg").hide();
            clearForm();
            // alert("Password Updated Successfully");
            $("#chngsuccess").show();
            $("#chngerror").hide();
        }        
        else if (data.trim() == "error")
        {
            $("#dv_loaderimg").hide();
            $("#chngsuccess").hide();
            // alert("Something Wrong");
            $("#chngerror").show();
            
        }

        
    }
    
    function clearForm()
    {
        $("#chngsuccess").hide();
        $("#chngerror").hide();
        $("#txtCurrentPassword").val("");
        $("#txtNewPassword").val("");
        $("#txtConfirmPassword").val("");
        $(".form_error").hide();
        $("input").removeClass("error1");
    }

    $(document).on("click", "#btnCancelChangePassword", function () {
        //clearForm();
        window.location = "/Dashboard/Index";
    });
    
</script>
